apiVersion: v1
kind: ConfigMap
metadata:
  name: mlops-grafana-datasources
  namespace: {{ .Release.Namespace }}
data:
  prometheus.yaml: |-
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://mlops-prometheus:{{ .Values.prometheus.port }}
        isDefault: true
        editable: false
